#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work. Organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p How the application works...
				Lorem ipsum dolor amet drinking vinegar pok pok bitters, intelligentsia next level literally hot chicken lo-fi shoreditch. Celiac bespoke hot chicken woke, twee food truck cronut vegan bushwick gochujang dreamcatcher williamsburg master cleanse blog. Biodiesel fashion axe knausgaard occupy copper mug. 3 wolf moon lyft chillwave fashion axe health goth viral tumeric sustainable hammock. Small batch tote bag listicle, mustache narwhal man braid hell of four loko normcore shabby chic etsy tousled. Poutine sartorial humblebrag gastropub lumbersexual succulents, wayfarers meggings VHS normcore jianbing semiotics.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path